.main-content {
display:flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.text-5xl {
    font-size: 6em;
}
#main-button {
    margin-top: 100px;
    margin-left: 250px;
    font-size: 3em;
}
.icon {
    margin-left: 17em;
    height: 400px;
    width: 400px;
    object-fit: cover;
}