/* Default styles for all screen sizes */

body {

    font-family: 'Arial', sans-serif;
    font-size: 120%;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }

  button {
    font-size: 100%;
  }

/* Media query for screens with a maximum width of 600 pixels */

@media screen and (max-width: 600px) {

    body {

        font-size: 14px;

    }



    /* Additional styles for smaller screens */

}



/* Media query for screens with a minimum width of 601 pixels and a maximum width of 1024 pixels */



@media screen and (min-width: 601px) and (max-width: 1024px) {


        body {
            background-image: url('./assets/images/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }

    



    /* Additional styles for medium-sized screens */

}



/* Media query for screens with a minimum width of 1025 pixels */



@media screen and (min-width: 1025px) {

    body {

        background-image: url('./assets/images/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;

    }



    /* Additional styles for larger screens */

}

.main-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .text-5xl {
        font-size: 6em;
    }
    #main-button {
        margin-top: 100px;
        margin-left: 250px;
        font-size: 3em;
    }
    .icon {
        margin-left: 17em;
        height: 400px;
        width: 400px;
        object-fit: cover;
    }